<!-- include header -->
<%- include('include/_header', {page: "confirmation"}) %>
<!-- /include header -->

<!-- Main Site -->

<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Certificates Summary</h1>

    <% if (student.certificates.length == 0) { %>

    <p class="lead">
      Based on the courses that you have selected, you are not eligible for any
      CTE Certificates this year. We hope you take more CTE classes next year!
    </p>

    <% } else { %>

    <p class="lead">
      You will receive the following CTE Certificates at the CTE Awards Ceremony
      at the end of the school year. Congratulations!
    </p>

    <div class="list-group mx-0 w-auto">
      <% for(var certificate of student.certificates) { %>

      <a
        href="#"
        class="list-group-item list-group-item-action d-flex gap-3 py-3"
        aria-current="true"
      >
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0"><%= certificate.name %></h6>
          </div>
        </div>
      </a>

      <% } %>
    </div>

    <% } %>
  </div>
  <!-- Add a section to display progress towards certificates -->
  <% for (const progress of progressTowardsCertificates) { %> You have <%=
  progress.semesterCount %> semester(s) towards earning the
  <strong> <%= progress.certificate %> </strong> certificate. <% if
  (selectedCoursesByCategory[progress.certificate].length > 0) { %>
  <br />
  <br />
  You have taken:
  <ul>
    <% for (const course of selectedCoursesByCategory[progress.certificate]) {
    %>
    <li><%= course.name %> (<%= course.semesters %> semester(s))</li>
    <% } %>
  </ul>
  <% } %> You need <%= progress.remainingSemesters %> semester(s) to earn the
  <%= progress.certificate %> certificate. <% if (progress.coursesNeeded.length
  > 0) { %>
  <br />
  <br />
  Courses available to take:
  <ul>
    <% for (const course of progress.coursesNeeded) { %>
    <li><%= course.name %> (<%= course.semesters %> semester(s))</li>
    <% } %>
  </ul>
  <% } %>
  <br />
  <br />
  <% } %>

  <h1>Your Progress Towards Certificates</h1>
  <br />
  <br />
  <!-- /Main Site -->

  <!-- include footer -->
  <%- include('include/_footer') %>
  <!-- /include footer -->
</main>
