<!-- include header -->
<%- include('include/_header', {page: "courses"}) %>
    <!-- /include header -->

    <!-- Main Site -->
    <main class="container">
        <div class="bg-light p-5 rounded">
            <h1>Course Selection</h1>
            <p class="lead">Select the CTE courses which you have completed or are currently taking.</p>

            <div class="accordion" id="departments">

                <% for(var department of cteData.departments) {
                    var departmentID=department.name.replaceAll(" ", "_");
                    var departmentHeading="heading_" + departmentID %>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="<%= departmentHeading %>">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#<%= departmentID %>" aria-expanded="true"
                                aria-controls="<%= departmentID %>">
                                <%= department.name %>
                            </button>
                        </h2>
                        <div id="<%= departmentID %>" class="accordion-collapse collapse show"
                            aria-labelledby="<%= departmentHeading %>" data-bs-parent="#departments">
                            <div class="accordion-body">
                                <div class="accordion" id="certificates">
                                    <% for(var certificate of department.certificates) { 
                                    var certificateID = certificate.name.replaceAll(" ", "_");
                                    var certificateHeading = "heading_" + certificateID %>
                                        <div class="accordion-item">
                                            <h3 class="accordion-header" id="<%= certificateHeading %>">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#<%= certificateID %>" aria-expanded="true"
                                                    aria-controls="<%= certificateID %>">
                                                    <%= certificate.name %>
                                                </button>
                                            </h3>
                                            <div id="<%= certificateID %>" class="accordion-collapse collapse show"
                                                aria-labelledby="<%= certificateHeading %>"
                                                data-bs-parent="#certificates">
                                                <div class="accordion-body">
                                                    <div class="list-group mx-0 w-auto">
                                                        <% for(var course of certificate.courses) { 
                                                            var courseID = course.name.replaceAll(" ", "_");
                                                            var checked = "";
                                                            if(student.courses.some(elem => elem.name === course.name)) {
                                                                checked = "checked";
                                                            }
                                                            %>

                                                            <label class="list-group-item d-flex gap-2">
                                                              <input class="form-check-input flex-shrink-0 course_checkbox" type="checkbox" <%= checked %> id="<%= course.name %>">
                                                              <span>
                                                                <%= course.name %>
                                                                <small class="d-block text-muted"> <%= course.semesters %> semester(s)</small>
                                                              </span>
                                                            </label>

                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>

            <div class="submit_button">
                <a class="btn btn-lg btn-primary mt-2" onclick="submit()" role="button">Submit Courses</a>
            </div>

        </div>
    </main>
    <!-- /Main Site -->


    <!-- include footer -->
    <%- include('include/_footer') %>
    <!-- /include footer -->