
<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">

            <% for(var department of certificates.departments) { %>
                <div class="department">
                    <%= department.name %>
                
            
                <% for(var certificate of department.certificates) { %>
                    <div class="certificate">
                        <%= certificate.name %>
            
                    <% for(var course of certificate.courses) { %>
                        <div class="course">
                            <input type="checkbox" class="course_checkbox" id="<%= course.name %>">
                            <label for="<%= course.name %>"><%= course.name %></label>
                        </div>
                        
                    <% } %>
                    
                    </div>
                <% } %>
            
                </div>
            <% } %>
            
            <div class="submit_button">
                <a class="btn btn-lg btn-primary" onclick="submit()" role="button">Submit Courses</a>
            </div>

            

        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->