<% for(var department of certificates.departments) { %>
    <tr>
        <td><%= department.name %></td>
    </tr>

    <% for(var certificate of department.certificates) { %>
        <tr>
            <td><%= certificate.name %></td>
        </tr>

        <% for(var course of certificate.courses) { %>
            <tr>
                <td><input type="checkbox" class="course" id="<%= course.name %>">
                    <label for="<%= course.name %>"><%= course.name %></label>
            </tr>
            
        <% } %>

    <% } %>

<% } %>

<input type="button" value="Submit" onclick="submit()">


<!-- !!! use javascript fetch instead of http post -->

<% for(var i = 0; i < users.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= users[i].name %></td>
    <td><%= users[i].email %></td>
    <td><%= users[i].gender %></td>
    <td><%= users[i].status %></td>
    <td>
        <a href="/update-user?id=<%= users[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= users[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>